body {
    font-family: system-ui;
}

.Rounded_Corners {
    border-radius: 10;
    background-color: #eee;
}

.Xcenter {
    text-align: center;
}

.Ycenter {
    display: flex;
    align-items: center;
}

.required {
    color: red;
}

.left {
    float: left;
}

.right {
    float: right;
}
    